.widget-container {
  width: 320px;
  height: 170px;
  border-radius: 25px;
  background-color: var(--bg-widget);
  &-wrapper {
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    &-icon {
      margin-top: 5%;
      flex-basis: 15%;
      .svg {
        color: var(--text-primary-color);
      }
    }

    &-metaInfo {
      &-label {
        color: var(--text-primary-color);
      }

      &-value {
        font-size: 25px;
        color: var(--text-primary-color);
      }
    }
  }
}
