:root{
  --bg-primary:#0d1117;
  --border-color-default:#30363d;
  --bg-secondary:#848d97;
  --text-primary-color:#e6edf3;
  --bg-widget:#66ae6c;
  --border-color-primary:#30363db3;
  --yellow-color:#e7dd4d;
}