:root{
  --bg-primary:#0d1117;
  --border-color-default:#30363d;
  --bg-secondary:#848d97;
  --text-primary-color:#e6edf3;
  --bg-widget:#66ae6c;
  --border-color-primary:#30363db3;
  --yellow-color:#e7dd4d;
}

// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   background-color: #0d1117;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
/* #0d1117 */